@model Ghostwriter.Entities.Models.PostDetailViewModel


<div class="page-header">
    <h1>@Model.Title</h1>
    <p><small>@Model.Body</small></p>
    @if (ViewBag.ShowEditButton)
    {
        <a href="@Url.Action("Edit", "Posts", new { id = Model.Id })" class="btn btn-default navbar-btn">
            Edit
        </a>
    }
</div>

@using (Html.BeginForm("Create", "Comments", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.Hidden("PostId", Model.Id)
    @Html.TextArea("Body", "")
    <input type="submit" name="AddComment" value="Add Comment" />
}



@Html.ActionLink("New Comment", "Create", "Comments", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })



<ul class="list-group" id="comments_list">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_Comment", comment)
    }
</ul>